@import "./components/navigation/navigation.css";
@import "./components/settings/settings.css";
@import "./components/userprofile/userprofile.css";
@import "./components/questioncard/questioncard.css";
@import "./components/questioncard/tag.css";
@import "./components/button/button.css";

:root {
	--light-primary-color: #c68965;
	--light-secondary-color: #444b56;
	--light-medium-color: #8d8a9f;
	--light-accent-color: #b35946;
	--light-white: #eff3ee;
	--light-font-color: #eff3ee;
	--border-variable: 3px solid var(--light-primary-color);
}

@media (prefers-color-scheme: dark) { 
	:root {
		--light-primary-color: #3700b3;
		--light-secondary-color: #000000;
		--light-medium-color: #ffffff;
		--light-accent-color: #ffffff;
		--light-white: #202020;
		--light-font-color: #ffffff;
		--border-variable: 3px solid var(--light-primary-color);
	}
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.5;
	background-color: var(--light-white);
	color: var(--light-font-white);
}

body,
html {
	scroll-snap-type: y proximity;
}

header {
	width: 100%;
	height: 50px;
	background-color: var(--light-secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 1px 70px rgba(0, 0, 0, 0.5);
}

h1 {
	font-size: 2rem;
	color: var(--light-font-color);
}

main {
	display: flex;
	flex-direction: column;
	padding: 50px;
	min-width: 300px;
}
