* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.5;
	background-color: #a3bbad;
}

header {
	width: 100%;
	height: 50px;
	background-color: #0e3b43;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 1px 70px rgba(0, 0, 0, 0.5);
}

h1 {
	font-size: 2rem;
}

h1 > a {
	text-decoration: none;
	color: white;
}

main {
	padding: 50px;
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

button {
	padding: 10px;
	font-size: 1rem;
	border-radius: 30px;
	background-color: #a3bbad;
	border: 3px solid #312509;
	font-weight: bold;
	padding: 15px;
	margin: 15px auto 15px auto;
	color: #312509;
}

button:hover {
	background-color: #0e3b43;
	color: white;
}

button:active {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.answer {
	margin: 15px auto 15px auto;
	display: none;
}

.questioncard {
	width: 100%;
	border: 3px solid black;
	border-radius: 20px;
	margin: 20px 0px 20px 0px;
	padding: 50px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.331);
	display: flex;
	flex-direction: column;
	background-color: #357266;
	position: relative;
}

.bookmark {
	position: absolute;
	top: -10px;
	right: -10px;
	filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.2));
}

.question {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1.4rem;
	color: white;
}

.description {
	font-size: 0.9rem;
}
.taglist {
	padding-top: 10px;
	list-style: none;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.tag {
	background-color: #312509;
	border-radius: 5px;
	padding: 5px;
	color: rgb(255, 255, 255);
	font-size: 0.8rem;
}

.tag:hover {
	color: rgb(211, 211, 211);
}

.navigation {
	display: flex;
	height: 55px;
	list-style: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 0px -1px 70px black;
}

.navigation-item {
	flex-grow: 1;
	background-color: #357266;
}

.navActive {
	background-color: #0e3b43;
}

.navigation-icon {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.navigation-item:hover {
	filter: brightness(120%);
}

.navigation-item:active {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	margin: auto;
	padding-top:30px;
}

.profilepicture {
	max-height: 150px;
	max-width: 150px;
	min-width: 50px;
	padding: 10px;
	border-radius: 100%;
	border: 5px solid white;
}

.userinformation {
	´
}

.counter {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 50px 0px 50px 0px;
}

.counterlabel {
	border: 5px black solid;
	border-radius: 30px;
	padding: 10px;
	font-size: 0.9rem;
	background-color:#0e3b43;
	color: white
}

.settings {
margin: auto;
}
.singleSetting {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-top: 20px;
}