.button {
	font-size: 1rem;
	border-radius: 30px;
	border: 3px solid #312509;
	font-weight: bold;
	padding: 15px;
	margin: 15px auto 15px auto;
}

.button--showAnswer {
	background-color: #a3bbad;
	color: #312509;
}

.button--showAnswer:hover {
	background-color: #0e3b43;
	color: white;
}

.button--showAnswer:active {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
