.button {
	font-size: 1rem;
	border-radius: 30px;
	border: var(--border-variable);
	font-weight: bold;
	padding: 15px;
	margin: 15px auto 15px auto;
}

.button--show-answer {
	background-color: var(--light-secondary-color);
	color: var(--light-font-color);
}

.button--show-answer:hover {
	background-color: var(--light-medium-color);
	color: var(--light-font-color);
}

.button--show-answer:active {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button--submit-question {
	background-color: var(--light-secondary-color);
	color: var(--light-font-color);
}

.button--submit-question:hover {
	background-color: var(--light-medium-color);
	color: var(--light-font-color);
}

.button--submit-question:active {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button--bookmark {
	background: none;
	border: none;
}
