.navigation {
	display: flex;
	height: 55px;
	list-style: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 0px -1px 70px black;
}

.navigation__item {
	flex-grow: 1;
	background-color: #357266;
}

.navigation__item--current {
	background-color: #0e3b43;
}

.navigation__icon {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.navigation__item:hover {
	filter: brightness(120%);
}

.navigation__item:active {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
