.answer {
	margin: 15px auto 15px auto;
	color: var(--light-font-color);
	font-size: 0.9rem;
}

.question-viewport {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
}

.answer--hidden {
	display: none;
}

.questioncard {
	border: var(--border-variable);
	border-radius: 20px;
	padding: 30px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.331);
	display: flex;
	flex-direction: column;
	background-color: var(--light-primary-color);
	color: var(--light-font-color);
	position: relative;
}

.questioncard__header {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1.4rem;
	color: var(----light-primary-color);
}

.questioncard--new-card {
	transform-origin: 50% 0;
	animation: append-animate 0.3s linear;
}

@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}
